@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/***********************************
             HEADER
***********************************/
.main-header {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .main-header {
    flex-direction: column-reverse;
  }
}

.section-cards__header {
  margin: 10px;
  border: 7px double gray;
  border-radius: 10px;
  height: 300px;
  -webkit-animation: banners 25s infinite;
          animation: banners 25s infinite;
}
@media (max-width: 768px) {
  .section-cards__header {
    height: 150px;
    -webkit-animation: none;
            animation: none;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
  }
}

@-webkit-keyframes banners {
  0%, 11% {
    background-image: url(..//img/productos/sony-playstation-5.jpg);
    background-position: top center;
  }
  12%, 16% {
    background-image: url(..//img/productos/auriculares-sony.jpg);
  }
  18%, 23% {
    background-image: url(..//img/productos/televisor-lg.jpg);
    background-position: center;
  }
  25%, 30% {
    background-image: url(..//img/productos/celular-samsung.jpg);
    background-position: top center;
  }
  32%, 37% {
    background-image: url(..//img/productos/chromecast-google.jpg);
    background-position: center;
  }
  40%, 45% {
    background-image: url(..//img/productos/dji-mavic-2-pro.jpg);
    background-position: center;
  }
  47%, 53% {
    background-image: url(..//img/productos/drone-dji.jpg);
    background-position: center;
  }
  63%, 68% {
    background-image: url(..//img/productos/lavarropas-dh.jpg);
    background-position: bottom;
  }
  70%, 75% {
    background-image: url(..//img/productos/modem-motorola.jpg);
    background-position: center;
  }
  78%, 83% {
    background-image: url(..//img/productos/motorola-moto-e7.jpg);
    background-position: top center;
  }
  94%, 100% {
    background-image: url(..//img/productos/notebook-lenovo.jpg);
    background-position: center;
  }
}

@keyframes banners {
  0%, 11% {
    background-image: url(..//img/productos/sony-playstation-5.jpg);
    background-position: top center;
  }
  12%, 16% {
    background-image: url(..//img/productos/auriculares-sony.jpg);
  }
  18%, 23% {
    background-image: url(..//img/productos/televisor-lg.jpg);
    background-position: center;
  }
  25%, 30% {
    background-image: url(..//img/productos/celular-samsung.jpg);
    background-position: top center;
  }
  32%, 37% {
    background-image: url(..//img/productos/chromecast-google.jpg);
    background-position: center;
  }
  40%, 45% {
    background-image: url(..//img/productos/dji-mavic-2-pro.jpg);
    background-position: center;
  }
  47%, 53% {
    background-image: url(..//img/productos/drone-dji.jpg);
    background-position: center;
  }
  63%, 68% {
    background-image: url(..//img/productos/lavarropas-dh.jpg);
    background-position: bottom;
  }
  70%, 75% {
    background-image: url(..//img/productos/modem-motorola.jpg);
    background-position: center;
  }
  78%, 83% {
    background-image: url(..//img/productos/motorola-moto-e7.jpg);
    background-position: top center;
  }
  94%, 100% {
    background-image: url(..//img/productos/notebook-lenovo.jpg);
    background-position: center;
  }
}
.main-header {
  display: flex;
  flex-direction: column-reverse;
}
@media (max-width: 768px) {
  .main-header {
    flex-direction: column-reverse;
    align-items: center;
  }
}

#menu {
  display: none;
}
#menu:checked + .nav-bar {
  display: block;
}
#menu:checked ~ .search-bar .menu-toggle__label {
  background-color: purple;
}

/***********************************
             NAV BAR
***********************************/
.nav-bar {
  background-color: gray;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-bar__nav-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
@media (max-width: 768px) {
  .nav-bar__nav-list {
    flex-direction: column;
    height: 220px;
  }
}
.nav-bar__nav-item {
  text-align: center;
  background-color: pink;
  border-radius: 10px;
}
.nav-bar__nav-link {
  display: block;
  background-color: purple;
  color: #fff;
  padding: 1em 2em;
  text-decoration: none;
  border-radius: 10px;
}
.nav-bar__nav-link:hover {
  background-color: #fff;
  color: #333;
}
@media (max-width: 768px) {
  .nav-bar {
    display: none;
  }
}

/***********************************
             SEARCH BAR
***********************************/
.search-bar {
  background-color: mediumaquamarine;
  width: 100%;
  display: inline-flex;
  align-items: center;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .search-bar {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
}
.search-bar__form-container {
  padding: 1em;
}
.search-bar__logo-container {
  cursor: pointer;
}
.search-bar__form-container {
  background-color: mediumaquamarine;
  width: 100%;
  display: inline-flex;
}
@media (max-width: 768px) {
  .search-bar__form-container {
    width: 100%;
  }
}
.search-bar__form-label {
  display: none;
  background-color: aquamarine;
  text-align: center;
  border-radius: 15px 0 0 15px;
}
.search-bar__form-search {
  border-radius: 15px 0 0 15px;
  background-color: aquamarine;
  width: 100%;
}
.search-bar__form-submit {
  background-color: purple;
  color: white;
  border-radius: 0px 15px 15px 0;
  cursor: pointer;
}
.search-bar__form-submit:hover {
  background-color: #fff;
  color: #333;
}
.search-bar__carrito-container {
  width: 100px;
  height: 50px;
  background-color: mediumaquamarine;
  border-radius: 10px;
  cursor: pointer;
}

/***********************************
             MENU TOGGLE
***********************************/
.menu-toggle {
  display: none;
  background-color: red;
  flex: 0 0 3em;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}
.menu-toggle__label {
  display: block;
  background-color: black;
  height: 100%;
  border-radius: 10px;
}
.menu-toggle__top-bread, .menu-toggle__meat, .menu-toggle__bottom-bread {
  display: block;
  background-color: #333;
  height: 0.2em;
  position: absolute;
  left: 0.5em;
  right: 0.5em;
}
.menu-toggle__top-bread {
  top: 0.8em;
}
.menu-toggle__meat {
  top: 50%;
  margin-top: -0.1em;
}
.menu-toggle__bottom-bread {
  bottom: 0.8em;
}
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    height: 50px;
    width: 30%;
    margin-right: 120px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .menu-toggle {
    align-self: stretch;
  }
}

h1 {
  color: chartreuse;
  display: flex;
  justify-content: center;
  font-size: 20px;
  position: relative;
  top: 60px;
}

p {
  color: yellow;
}

body {
  background-color: mediumaquamarine;
}
body h1 {
  color: azure;
}
body p {
  color: azure;
}

.section-cards {
  background-color: mediumaquamarine;
  color: azure;
}

.cards-container {
  color: azure;
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 2em;
}
@media (min-width: 1200px) {
  .cards-container {
    gap: 2em;
  }
}

/* .cards-container{
     width: 100%;  
     margin-top: 50px;
     margin-bottom: 50px;
     border-style: solid;
     border-width: 1px;   
     animation: banner 50s infinite ;   
    }
       @keyframes banner{
                0%, 4%{
                        background-image: url(..//img/productos/sony-playstation-5.jpg);                        
                }
                5%, 10%{
                    background-image: url(..//img/productos/apple-iphone-12.jpg);                  
                }
                12%, 16%{
                    background-image: url(..//img/productos/auriculares-sony.jpg);                    
                }
                18%, 23%{
                    background-image: url(..//img/productos/televisor-lg.jpg);                    
                }25%, 30%{
                    background-image: url(..//img/productos/celular-samsung.jpg);                   
                }32%, 37%{
                    background-image: url(..//img/productos/chromecast-google.jpg);                   
                }40%, 45%{
                    background-image: url(..//img/productos/dji-mavic-2-pro.jpg);                    
                }47%, 53%{
                    background-image: url(..//img/productos/drone-dji.jpg);                   
                }
                78%, 83%{
                    background-image: url(..//img/productos/motorola-moto-e7.jpg);                    
                }87%, 90%{
                    background-image: url(..//img/productos/notebook-lenovo.jpg);                    
                }
       }
.card {
    outline:none;
    flex-grow: 1;
    width: 220px;
    max-width: 300px;
    height: 400px;
    overflow: hidden;
    box-shadow: 10 10px 5px rgb(32, 29, 29), 0 0 3px rbga(0,0,0, .4);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all .2s;
    background-color: azure; 
    &:hover, 
    &:focus {
        -moz-transform: scale(1.03);
        -webkit-transform: scale(1.03);
        transform: scale(1.03) skewX();
        -moz-transform-origin: bottom;
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        box-shadow:  10px 5px 5px rgb(26, 23, 23);
        background-color: rgba(0, 255, 255, 0.822);      
    }

    &__image-container {
        height: 300px;
        overflow: hidden;
        -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 92%, 80% 100%, 20% 100%, 0 91%, 0 0);
        clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 92%, 80% 100%, 20% 100%, 0 91%, 0 0);
    }
    &:nth-child(9n + 1){
        background-image: url(..//img/productos/auriculares-sony.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        color: azure;
        &:hover ,
        &:focus  {
            transform: scale(1.01) rotate(2deg);
            transform-origin: center;
        }

    }
    &:nth-child(9n + 2){
        background-image: url(..//img/productos/camara-canon.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        color: azure;
        &:hover ,
        &:focus  {
            transform: scale(1.01) rotate(2deg);
            transform-origin: center;
        }
    }
    &:nth-child(9n + 3){
        background-image: url(..//img/productos/celular-samsung.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        color: azure;
        &:hover ,
        &:focus  {
            transform: scale(1.01) rotate(2deg);
            transform-origin: center;
        }
    }
    &:nth-child(9n + 4){
        background-image: url(..//img/productos/chromecast-google.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        color: azure;
        &:hover ,
        &:focus  {
            transform: scale(1.01) rotate(2deg);
            transform-origin: center;
        }
    }
    &:nth-child(9n + 5){
        background-image: url(..//img/productos/dji-mavic-2-pro.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        color: azure;
        &:hover ,
        &:focus  {
            transform: scale(1.01) rotate(2deg);
            transform-origin: center;
        }
    }
    &:nth-child(9n + 6){
        background-image: url(..//img/productos/drone-dji.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        color: azure;
        &:hover ,
        &:focus  {
            transform: scale(1.01) rotate(2deg);
            transform-origin: center;
        }
    }
    &:nth-child(9n + 7){
        background-image: url(..//img/productos/google-nest-mini.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        color: azure;
        &:hover ,
        &:focus  {
            transform: scale(1.01) rotate(2deg);
            transform-origin: center;
        }
    }
    &:nth-child(9n + 8){
        background-image: url(..//img/productos/lavarropas-dh.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        color: azure;
        &:hover ,
        &:focus  {
            transform: scale(1.01) rotate(2deg);
            transform-origin: center;       
        }
    }
    &:nth-child(9n + 9){
        background-image: url(..//img/productos/modem-motorola.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        color: azure;
        &:hover ,
        &:focus  {
            transform: scale(1.01) rotate(2deg);
            transform-origin: center;
        }
    } 
    &:hover &__image-container,
    &:focus &__image-container {
        transform: scale(1.4) rotate(5deg);
        -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 92%, 80% 100%, 20% 100%, 0 91%, 0 0);
        clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 92%, 80% 100%, 20% 100%, 0 91%, 0 0);
    }
    &__image {  
        display: none;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3em;
        font-size: 9px;
        text-align:justify;
        margin-bottom: 42px;   
    }
    @media (min-width: 1024px) {
        & {
            min-width: 240px;
        }
    }
    @media (min-width: 426px) and (max-width: 768px) {
        & {
            min-width: 400px;
            max-width: 500px;
            height: 200px;
        }
        &__article {
            display: flex;   
        }
        & &__image-container {
            width: 40%;   
           clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
        }
        &:hover &__image-container,
        &:focus &__image-container {
            width: 40%;   
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)
        }
    }

}  */
.cards-container {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  border-style: solid;
  border-width: 1px;
  -webkit-animation: banner 50s infinite;
          animation: banner 50s infinite;
}

@-webkit-keyframes banner {
  0%, 4% {
    background-image: url(..//img/productos/sony-playstation-5.jpg);
  }
  5%, 10% {
    background-image: url(..//img/productos/apple-iphone-12.jpg);
  }
  12%, 16% {
    background-image: url(..//img/productos/auriculares-sony.jpg);
  }
  18%, 23% {
    background-image: url(..//img/productos/televisor-lg.jpg);
  }
  25%, 30% {
    background-image: url(..//img/productos/celular-samsung.jpg);
  }
  32%, 37% {
    background-image: url(..//img/productos/chromecast-google.jpg);
  }
  40%, 45% {
    background-image: url(..//img/productos/dji-mavic-2-pro.jpg);
  }
  47%, 53% {
    background-image: url(..//img/productos/drone-dji.jpg);
  }
  78%, 83% {
    background-image: url(..//img/productos/motorola-moto-e7.jpg);
  }
  87%, 90% {
    background-image: url(..//img/productos/notebook-lenovo.jpg);
  }
}

@keyframes banner {
  0%, 4% {
    background-image: url(..//img/productos/sony-playstation-5.jpg);
  }
  5%, 10% {
    background-image: url(..//img/productos/apple-iphone-12.jpg);
  }
  12%, 16% {
    background-image: url(..//img/productos/auriculares-sony.jpg);
  }
  18%, 23% {
    background-image: url(..//img/productos/televisor-lg.jpg);
  }
  25%, 30% {
    background-image: url(..//img/productos/celular-samsung.jpg);
  }
  32%, 37% {
    background-image: url(..//img/productos/chromecast-google.jpg);
  }
  40%, 45% {
    background-image: url(..//img/productos/dji-mavic-2-pro.jpg);
  }
  47%, 53% {
    background-image: url(..//img/productos/drone-dji.jpg);
  }
  78%, 83% {
    background-image: url(..//img/productos/motorola-moto-e7.jpg);
  }
  87%, 90% {
    background-image: url(..//img/productos/notebook-lenovo.jpg);
  }
}
.card {
  outline: none;
  flex-grow: 1;
  width: 220px;
  max-width: 300px;
  height: 400px;
  overflow: hidden;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 0 3px rbga(0, 0, 0, 0.4);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.2s;
  background-color: orange;
}
.card:hover, .card:focus {
  transform: scale(1.03) skewX();
  transform-origin: bottom;
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.05), 0 3 3px rgba(0, 0, 0, 0.01);
}
.card:nth-child(5n+1) {
  background-image: linear-gradient(to top, #aaafad 0%, #60efff 30%);
}
.card:nth-child(5n+2) {
  background-image: linear-gradient(to top, #696eff 0%, #f8acff 30%);
}
.card:nth-child(5n+3) {
  background-image: linear-gradient(to top, #ff1b6b 0%, #45caff 30%);
}
.card:nth-child(5n+4) {
  background-image: linear-gradient(to top, #ff930f 0%, #fff95b 30%);
}
.card:nth-child(5n+5) {
  background-image: linear-gradient(to top, #ff0f7b 0%, #f89b29 30%);
}
.card__image-container {
  height: 200px;
  background-color: blue;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 200px, 0 180px);
  clip-path: polygon(0 0, 100% 0, 100% 200px, 0 180px);
}
.card:hover .card__image-container, .card:focus .card__image-container {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 190px, 0 200px);
  clip-path: polygon(0 0, 100% 0, 100% 190px, 0 200px);
}
.card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s;
}
.card:hover .card__image, .card:focus .card__image {
  transform: scale(1.4) rotate(5deg);
  transform-origin: center;
}
.card__content {
  padding: 1em;
}
@media (min-width: 1024px) {
  .card {
    min-width: 240px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .card {
    min-width: 400px;
    max-width: 500px;
    height: 200px;
  }
  .card__article {
    display: flex;
  }
  .card .card__image-container {
    width: 40%;
    -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
  }
  .card:hover .card__image-container, .card:focus .card__image-container {
    width: 40%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.container-alta {
  padding: 10px;
}
.container-alta h1 {
  width: 50px;
  position: static;
  bottom: 10px;
}
.container-alta h1, .container-alta h2 {
  background-color: purple;
  color: azure;
}
.container-alta input {
  width: 300px;
  display: block;
  margin-bottom: 1px;
  padding: 5px;
  background-color: purple;
  color: azure;
}
.container-alta button {
  display: block;
  margin-top: 20px;
  width: 80px;
  background-color: blue;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}
.container-alta button:hover {
  background-color: blueviolet;
}
.container-alta button:disabled {
  background-color: purple;
}
.container-alta input[type=checkbox] {
  display: inline;
  width: 15px;
  height: 15px;
  margin-top: 10px;
}
.container-alta table, .container-alta th, .container-alta td {
  border: 1px solid black;
  border-collapse: collapse;
}
.container-alta table {
  width: 90%;
}
.container-alta #listado-productos {
  width: 100%;
}

.section-carrito {
  display: none;
  position: fixed;
  background-color: mediumturquoise;
  z-index: 1;
  top: 150px;
  left: 150px;
  right: 150px;
  bottom: 150px;
  box-shadow: 0.3em 0.3em 10em 0.3em rgb(0, 0, 0);
  /***********************/
  /* TABLA DE PRODUCTOS */
  /*********************/
  /******************************/
  /* BOTÓN PARA CERRAR CARRITO */
  /*****************************/
  /******************************/
  /* COMPRAR CARRITO            */
  /*****************************/
}
@media (max-width: 468px) {
  .section-carrito {
    /* position: absolute;
    background-color: black; */
  }
  .section-carrito {
    width: 100%;
  }
}
.section-carrito--visible {
  display: block;
}
.section-carrito::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  transform: translateX(-100%);
  background-color: mediumseagreen;
  opacity: 0.5;
}
.section-carrito--visible {
  display: block;
}
.section-carrito__table {
  table-layout: fixed;
  width: 100%;
  margin-block: 1em;
  font-size: 0.8rem;
  border-collapse: collapse;
  border-radius: 4px;
  overflow: hidden;
}
@media all and (min-width: 768px) {
  .section-carrito__table {
    font-size: 0.9rem;
  }
}
.section-carrito__table td, .section-carrito__table th {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  padding-block: 6px;
}
.section-carrito__table td > img {
  max-width: 48px;
  aspect-ratio: 2/1;
}
.section-carrito__table__title {
  color: azure;
  background-color: purple;
}
.section-carrito__table tr:nth-child(even) {
  -webkit-backdrop-filter: brightness(90%);
          backdrop-filter: brightness(90%);
}
.section-carrito__button,
.section-carrito .btn__enviarCarrito {
  text-transform: capitalize;
}
.section-carrito .btn__enviarCarrito {
  background-color: purple;
  color: azure;
  padding: 4px 8px;
}
.section-carrito__button {
  width: 80%;
  background-color: purple;
  color: azure;
  padding: 4px;
}
.section-carrito__placeholder-title, .section-carrito__placeholder-subtitle {
  font-weight: 300;
  text-align: center;
}
.section-carrito__placeholder-title {
  color: rgb(102, 102, 102);
  margin-top: 2em;
}
.section-carrito__placeholder-subtitle {
  color: rgb(153, 153, 153);
  font-size: 1.25rem;
}
.section-carrito > .btn--close {
  color: azure;
  background-color: purple;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  aspect-ratio: 1/1;
  padding: 0px;
  text-indent: -9999px;
  font-size: 1px;
  background-image: url(/img/productos/4115230_cancel_close_delete_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-carrito__submit-confirmation-img-container {
  margin: 1em auto;
  width: 50%;
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.payment-form {
  padding-bottom: 10px;
  margin-right: 15px;
  margin-left: 15px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.payment-form.dark {
  background-color: #f6f6f6;
}

.payment-form .content {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  background-color: white;
}

.payment-form .block-heading {
  padding-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.payment-form .block-heading p {
  text-align: center;
  max-width: 420px;
  margin: auto;
  color: RGBA(0, 0, 0, 0.45);
}

.payment-form .block-heading h1,
.payment-form .block-heading h2,
.payment-form .block-heading h3 {
  margin-bottom: 1.2rem;
  color: #009EE3;
}

.payment-form .form-payment {
  border-top: 2px solid #C6E9FA;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  background-color: #ffffff;
  padding: 0;
  max-width: 600px;
  margin: auto;
}

.payment-form .title {
  font-size: 1.3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 0.8em;
  font-weight: bold;
  padding-bottom: 8px;
}

.payment-form .products {
  background-color: #f7fbff;
  padding: 25px;
}

.payment-form .products .item {
  margin-bottom: 1em;
}

.payment-form .products .item-name {
  font-weight: 500;
  font-size: 0.9em;
}

.payment-form .products .item p {
  margin-bottom: 0.2em;
}

.payment-form .products .price {
  float: right;
  font-weight: 500;
  font-size: 0.9em;
}

.payment-form .products .total {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding-top: 19px;
  font-weight: bold;
  line-height: 1;
}

.payment-form .payment-details {
  padding: 25px 25px 15px;
  height: 100%;
}

.payment-form .payment-details label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #8C8C8C;
  text-transform: uppercase;
}

.payment-form button {
  margin-top: 0.6em;
  padding: 12px 0;
  font-weight: 500;
  background-color: #009EE3;
  margin-bottom: 10px;
}

.payment-form .mercadopago-button {
  width: 100%;
  padding: 8px 0;
}

.payment-form a, .payment-form a:not([href]) {
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #009ee3;
  cursor: pointer;
}

.payment-form a:not([href]):hover {
  color: #3483FA;
  cursor: pointer;
}

.active {
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */